@charset "utf-8";


/* 이벤트 배너 시작 */
#eventWrap{
	background-image: url(../images/event_bg.png);
}
#contentWrap{
	background: url(../images/ctbg.png) no-repeat;
}
.event{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	_background-color: pink;
}
.event_logo{
	position: absolute;
	left: 0;}
.event_logo>img{}
.event_txt{
	position: absolute;
	top: 35px;
	left: 35%;
	color: #898989;
}
.event_txto{
	position: absolute;
	top: 35px;
	left: 60%;
	color: #898989;
}
.event_txt,.event_txto>span{
	font-weight: bold;
}
.event_go{
	position: absolute;
	top: 20px;
	right: 0;
	width: 120px;
	height: 50px;
	text-align: center;
	background-color: #f08080;
	border-radius: 50px;
	line-height: 50px;
	font-size: 13px;

}
.event_go>a{
	color: #fff;
	font-weight: bold;
}
.event_close{
	position: absolute;
	top: 35px;
	right: 200px;
	cursor: pointer;
}

/* 이벤트배너 끝 */

/* header 시작 */
.headerWrap{}
.header{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	_background-color: pink;
	position: relative;
}

/* sns 아이콘 */
.header>ul>li{
	float: left;
	width: 35px;
	padding-top: 35px;
}
.header>li>a{}
.header>li>a>img{}

/* 웨딩벨라 로고 */
.logo{
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -50px;
}
.logo>img{}

/* util_menu */
nav.util_menu{
	float: right;
	padding-top: 38px;
}
nav.util_menu>ul{}
nav.util_menu>ul>li{
	float: left;
	width: 70px;
}

nav.util_menu>ul>li>a{
	display: block;
	color: #000;
	line-height: 30px;
	font-size: 13px;
	text-align: center;
}
nav.util_menu>ul>li:after{
	content: "";
	display: block;
	width: 1px;
	height: 15px;
	background-color: #ccc;
	position: absolute;
	top: 45px; 
}
nav.util_menu>ul>li:first-child:after{
	content: "";
	display: none;
}

/* gnb */
nav.gnb{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
nav.gnb>ul{}
nav.gnb>ul>li{
	float: left;
	width: 20%;
	height: 40px;
	}
nav.gnb>ul>li>a{
	display: block;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	color: #898989;
}
nav.gnb>ul>li:hover{background-color: #f08080;}
nav.gnb>ul>li:hover a{color: #fff;}
.submenu{
	display: none;
}
.submenu>li{
	color: #fff;
	text-align: center;
	line-height: 35px;
	}
.submenu>li:hover{background-color: #eaa4a4;}
nav.gnb>ul>:hover .submenu{display: block;}
nav.gnb>ul>li:hover .submenu{
	background-color: #f08080;			
}

/* header 끝 */

/* section 시작*/
#slick-slide-control00, #slick-slide-control01, 
#slick-slide-control02, #slick-slide-control03{display: none;}   
.main_dots{
	position: absolute;
    bottom: 20px;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.slick-slide img{margin: 0 auto;}
.main_dots li{cursor:pointer;float: left; margin-left: 10px;width: 40px;height: 10px;background-color:#071726;}
.slide01{position: relative;}
.slidetext{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	text-align: center;
	transform: translate(-50%,-50%);
	font-size: 20px

}
.title{padding-bottom: 20px;}

/* section 끝*/

/* best-select 시작*/
#slider02{
	width: 1200px;
	margin: 0 auto;
}
.item p{text-align: center;padding: 10px 0px;}
.item span{font-weight: bold}

/* best-select 끝*/

/*dress&studio*/
.drestu{width: 1200px;margin: 0 auto;}
.dress{float:left;width: 600px;}
.studio{float:left;width: 600px;}
.cont_dr img{display: block;margin: 0 auto;padding-bottom: 10px;}
.cont_stu img{display: block;margin: 0 auto;padding-bottom: 10px;}
.dr01{float: left;width: 50%;}
.dr02{float: left;width: 50%;}
.cont_dr p , .cont_stu p{text-align: center;}
.cont_dr span, .cont_stu span{font-weight: bold;}
.st01{float: left;width: 50%;}
.st02{float: left;width: 50%;}

/*eventBanner*/
.eventBanner{margin-top: 30px;height: 150px;background-color: pink;width: 100%;background: url(../images/banner.png) no-repeat;}
.banner{width: 1200px;margin: 0 auto;height: 150px;position: relative;}
.banner img{display: block;position: absolute;left: 50%;transform: translateX(-50%);padding-top: 20px;}
.banner p{color: #fff;text-align: center;padding-top: 90px;}


/*consulting*/
.consulting{width: 1200px;margin: 0 auto;}
.consulting>img{display: block;padding: 20px 0;}
.conBox{position: relative;}
.conBox li{float: left;width: 380px;margin-right: 30px;}
.conBox li:last-child{margin-right: 0;}
.conBox li:hover .overlay{opacity: 1;}
.overlay{width: 380px;height: 213px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px 0px 0px 15px;
	position: absolute;top: 0;opacity: 0;transition: 0.3s;}
.overlay p{
	text-align: center;
	color: #fff;
	width: 130px;
	height: 50px;
	border: 1px solid #fff;
	border-radius: 15px;
	line-height: 50px;
	position: absolute;
	top:50%;
left: 50%;
transform: translate(-50%,-50%);}

/*consulting-icon*/
.conIconWrap{padding-top: 30px;}
.conIcon{width: 1200px;height: 215px;padding:30px;background-color: #f3dede;margin: 0 auto;border-radius: 15px 0px 0px 15px;}
.conIcon li{float: left;width: 200px;height: 150px;background-color: #fff;margin-right: 35px;border-radius: 15px 0px 0px 15px;}
.conIcon li:last-child{margin-right: 0;}
.conIcon li img:last-child{margin-top: 30px;}
.conIcon li img{margin-left: 68px;margin-top: 15px;}
.conIcon li p{text-align: center;font-weight: bold;}

/*midbanner*/
.mbanner{width: 1200px;margin: 0 auto;padding-top: 50px;}
.mbanner li{float: left;width: 580px;margin: 0 10px;position: relative;}
.mbanner li p{text-align: center;}
.first{font-weight: bold;position: absolute;top:50%;right: 30px;transform: translateY(-50%);}
.first span{color: #e6b2b3}
.second{position: absolute;top: 50%;left:70px;transform: translateY(-50%);}
.second span{font-weight: bold;}

/*review*/
.reviewWrap{padding-top: 30px;}
.review{width: 1200px;margin: 0 auto;}
.review>img{padding: 20px 0;}
.viewmore{display: block;float: right;padding-top: 30px;}
.review li{float: left;width: 300px;}
.review li img{display: block;margin: 0 auto;}
.reviewTxt{width: 300px;text-align: left;padding: 10px}
.reviewTxt h4{padding-bottom: 8px;}
.reviewTxt p{font-size: 14px;color: gray;}

/*footer*/
footer{background-color: #959595;margin-top: 80px;}
.footer{width: 1200px;margin: 0 auto;padding: 20px 0;}
.ftLogo{float: left;width: 20%;}
.ftLogo img{display: block;margin: 0 auto;}
.ftText{float: right;width: 80%;color: #dad8d8}
.ftText a{color:#dad8d8;}
.ftText li{float: left;margin-right: 20px;padding-bottom: 10px;}
address{font-size: 14px}

#menu{
	position: absolute;
	right: 0;
	top: 800px; /*상위높이*/
	width: 100px;
	margin-left: 360px; /* 좌측폭 위치*/
}