@charset "utf-8";

html,body{cursor: url(../images/airport_cur.png) 0 0, auto;}



/* header start */
.top_header{
	background:#0b70a8 url(../images/header_bg.png) no-repeat center top;
	
}
.header_wrap{
	width: 980px;
	height: 90px;
	margin: 0 auto;
	position: relative;
}
.header_logo{
	position: absolute;
	top: 15px;
}
.header_search{
	position: absolute;
	width: 300px;
	height: 30px;
	top: 25px;
	background-color: #fff;
	left: 25%;
	margin-left: 10px;
	padding: 5px 0;
	border-radius: 20px;
}
.search{
	font-weight: bold;
	font-size: 13px;
	margin-left: 15px;
	margin-right: 5px;
}
.inp-field{
	width: 170px;
	border: 0 none;
}
.icon.search{
	position: absolute;
	margin-top: 3px;
}

.header_tel{
	position: absolute;
	color: #fff;
	top: 21px;
	right: 150px;
	font-size: 25px;
	letter-spacing: -1px;
}
.header_tel span{
	font-weight: bold;
	}
.header_icon{
	position: absolute;
	top: 25px;
	right: 0px;
}

.main_bottom{
	background-color: #fafafa;
	border-bottom: 5px solid #0e73a7;
}
.main_gnb{
	width: 980px;
	height: 60px;
	margin: 0 auto;
}
.main_gnb>ul{}
.main_gnb>ul>li{
	float: left;
	width: 163.33px;
	border-right: 1px solid #e3e3e3;	
}
.main_gnb>ul>li:first-child{
	border-left: 1px solid #e3e3e3;
}
.main_gnb>ul>li>a{
	display: block;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
}
.main_gnb>ul>li>a:hover{
	background-color: #0f73a7;
	color: #fff;
}
.main_gnb>ul>li>a>img{
	padding-bottom: 5px;
	padding-right: 5px;
}

/* header end */

/* section start */
#container{
	_width: 100%;
	_height: 1500px;
	_margin-top: 65px;
	background-image: url(../images/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
/* 배경_풍선 */
div.airbg{
	position: absolute;
	animation:balloon 3s alternate infinite cubic-bezier(0.32, 0, 0.57, 0.93);;
	left: 40%;
}
@keyframes balloon{
	from{top:150px;}
	to{top:200px;}
}

div.ani_paper{
	position: absolute;
	animation:paper 5s alternate infinite ;
}

@keyframes paper{
	from{}
	to{ }
}

.topWrap{
	width: 980px;
	margin: 0 auto;
	padding-top: 55px;
	_background-color: pink;
}
.sliderWrap{
	width: 480px;
	height: 300px;
	margin-bottom: 10px;
}

.slider_rev{
	float: right;
	width: 350px;

	/*padding: 10px;
	left: 380px;
	top: 200px;*/
}
.slider{	
	margin:10px;
}

fieldset{border: 0 none;}
legend{
	display: block;
	position: absolute;
	left: 0;
	top: -9999px;
}
.f_layer{
	width: 300px;
	height: 300px;
	margin: 0 auto;
}
.f_layer fieldset label{
	display: block;
	padding: 5px 0;
}
.f_layer fieldset select{
	display: block;
	width: 100%;
	height: 40px;
	font-size: 1em;
	text-indent: 8px;
	border-radius: 5px;
}
.f_layer fieldset .sleft,
.f_layer fieldset .sright{
	float: left;
	width: 145px; /* 390/2 */ 
}

.f_layer fieldset .sleft input,
.f_layer fieldset .sright input{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #aaa;
	height: 40px;
	text-indent: 8px;
	font-size: 1em;
	font-weight: bold;
}
.f_layer fieldset .sleft{margin-right: 10px;}
.btn-area .btn-submit{
	width: 100%;
	height: 38px;
	margin-bottom: 10px;
	margin-top: 24px;
	border: 1px solid #ea4f1f;
	background-color: #ea4f1f;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 8px;
}
.bx-wrapper {
    -moz-box-shadow: 0 none;
    -webkit-box-shadow:  0 none;
    box-shadow:  0 none;
    border:  0 none;
}
.slider_pager{
	float: left;
	width: 130px;
}
.slider_pager img{
	_background-color: #f00;
	float: left;
	margin:20px 15px;

}
.slider_pager a{
	display: block;
	height: 75px; 
	background-color:#0099cb;
	font-weight: bold;
	color: #fff;
	border-bottom: 1px solid #0078a7;
	font-size: 15px;
	line-height: 70px;

	}
.slider_pager a:nth-child(2){
	background-color: #006599;
}
.slider_pager a.active{
	background-color:#fff;
	color:#000;
	background-image: none;
}
.slider_pager a img.out{display: block;}
.slider_pager a img.active{display: none;}

.slider_pager a.active img.out{display: none;}
.slider_pager a.active img.active{display: block;}

/* page_Title 시작 */
.page_Title{
	position: absolute;
	top: 55px;
	left: 51%;
	letter-spacing: -1px;
}
.p_title{
	padding-bottom: 20px;
}
.p_title>h1{
	font-size: 60px;
}
.p_title>h1>span{
	border-bottom: 6px solid #000;
}
.page_Title>p{
	font-size: 30px;
	letter-spacing: -3px;

}
/* page_Title 끝 */



/* secondline 시작*/
.secondline{}
.boxWrap{
	position: relative;
	padding-top: 12px;
}
.boxWrap>li{
	float: left;
	margin-right: 9px;

}
.boxWrap>li>img{}
.boxTxt{
	position: absolute;
	width: 236px;
	height: 50px;
	bottom: 0;
	background-color: #152630;
	text-align: center;
	line-height: 45px;
	color: #fff;

}
.world_name{
	float: left;
	margin-left: 20px;
}
.world_price{
	color: #6fc564;
}
.boxTxt>img{
	float: right;
	padding: 17px;
}
.boxWrap>li{
	width: 236px;
}
.box_image{
	position: relative;
	height: 240px;
	width: 233px;
	overflow: hidden;
}

.box_image img{
	height: 100%;
}

.box_image.hotel{
	 width: 100%;
}
.box_image.place{
	width: 100%;
}
/* second_line 끝 */

/* third_line 시작 */
.third_line{
	margin-bottom: 15px;
}
.box_one{
	position: absolute;
	background-color: #529351;
	width: 236px;
	height: 65px;
	bottom: 0;
	color: #fff;
	line-height: 40px;
	padding-left: 10px;
}
.box_two{
	position: absolute;
	background-color: #152630;
	width: 236px;
	height: 65px;
	bottom: 0;
	color: #fff;
	line-height: 40px;
	padding-left: 10px;
}
.box_three{
	position: absolute;
	width: 236px;
	height: 65px;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	line-height: 20px;
	color: #fff;
	padding-left: 10px;
	padding-top: 10px
}
.tokyo{
	position: absolute;
	font-weight: bold;
	top: 10px;
	color: #fff;
	left: 90px;
}

.box_four{
	position: absolute;
	width: 236px;
	height: 65px;
	bottom: 0;
	background-color: #44619d;
	color: #fff;
	line-height: 20px;
	padding-left: 10px;
	padding-top: 10px
}
.boxSubject{
	font-weight: bold;
}
.boxInfor{
	font-size: 13px;
}

.box_imageSns{}
.reviewTxt{
	position: absolute;
	top:23px;
	width: 185px;
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
	color: #484848;
	_background-color: blue;
}
.reviewTxt>img{
	float: left;
	padding: 17px;
}
.snsStar{}
.reviewTitle{
	position: absolute;
	color: #44629e;
	top: 100px;
	font-size: 12px;
	padding-left: 15px;
	font-weight: bold;
}

/* third_line 끝 */

/* fourth_line 시작*/

.fourth_line{
	padding-bottom: 25px;
}
.fourth_line>ul>li{
	float: left;
	width: 233px;
	height: 240px;
	margin-right: 12px;
}
.fourth_line>ul>li:last-child{
	margin-right: 0;
}
.c0401{
	position: relative;
	overflow: hidden;
}
.c0401>img{}
.c0401>.c0401_txt{
	position: absolute;
	top: 40px;
	text-align: center;
	left: 38px;
	color: #fff;
	z-index: 2;
}
.c0401>.c0401_txt>p{
	font-size: 12px;
	padding-top: 10px;
}
.c0401>.c0401_txt>img{
	position: absolute;
	top: 0px;
	left: 15px;
}
.c0401>.icon_plus{	
	position: absolute;
	width: 30px;
	height: 30px;
	top: 112.5px;
	left: 100px;
	z-index: 1;
	transform: rotate(0deg);
	transition:0.3s;
} 
.c0401>.icon_plus>a{}
.c0401>.icon_plus>a>img{	
}
.c0401>.overlay{	
	background-color: rgba(0,0,0,0.5);
	width: 234px;
	height: 240px;
	position: absolute;
	top: 100%;
	display: block;
}
.c0401:hover .overlay{
	top: 0;
	transition: 0.3s;
}
.c0401:hover .c0401_txt{
	top: 160px;
}
.c0401:hover .icon_plus{
	transform: rotate(360deg);
}
/* fourth_line 끝 */

/* 서브페이지 시작 */
#container_Wrap{
	width: 100%;
	height: 1200px;
	background-image: url(../images/bg_dot.png);
	background-repeat: repeat;
	position: relative;
	_margin-top: 65px;
}
.subWrap{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 300px;
}
.subWrap.company{
	background-image: url(../images/subimg01.jpg);
}

.subWrap>.sub_txt{
	color: #fff;
	position: absolute;
	top:50px;
	left: 50%;
	margin-left: -180px;
	text-align: center;
}
.subWrap>img{}
.sub_txt>h1{
	font-size: 55px;
}
.sub_txt>p{}

.container{
	width: 980px;
	margin: 0 auto;
}

.sub_infoimg{position: relative;}
.sub_infoimg>img{
	position: absolute;
	top: -100px;
}
/* footer 시작 */
.footerbox{
	width: 980px;
	margin: 0 auto;
}
.footernav{
}
.footernav ul li{
	text-align: center;
	float: left;
	padding-right: 15px;
	font-size: 15px;
}
.footernav>li>a{}
.footerTxt{}
.footerTxt>p{
	font-size: 13.5px;
	color: #7b7b7b;
}
/* footer 끝 */

